@import "compass/reset";

body {
  font-family: Tahoma, Arial, serif;
}

.wrap {

  .header {
    width: 960px;
    padding: 20px;
    margin: 0 auto;
    border-bottom: 1px solid red;
  }

  .data {
    text-align: center;
    padding: 20px;

    form {
      margin: 0 auto;
      width: 500px;
    }
    
    input, textarea, button, lable {
      margin: 5px 0;
      outline: none;
      width: 200px;
      padding: 5px;
    }

    select {
      width: 20px
    }

    textarea {
      height: 50px;
      resize: none;
    }
  }
}

.base {

  h2 {
    text-align: center;
    font-size: 40px;
    margin: 20px 0;
  }

  table {
    margin: 0 auto;
    width: 960px;
    text-align: center;
    margin-bottom: 20px;

    th,
    td {
      text-align: center;
      max-width: 100px;
      word-wrap: break-word;
      border: 1px solid #000;
      padding: 5px;
    }

    th {
      font-weight: bold;
      color: #fff;
      background: #ED1C24;
    }
  }
}

.customer {
  float: left;
  width: 220px;
}

.receiver {
  float: right;
  width: 220px;
}

.base {
  clear: both;
}

#edit,
#remove {
  outline: none;
  background: none;
  font-size: 20px;
  border: none;
}

button#remove::after {
  content: '×';
  color: #C00303;
}

button#edit::after {
  content: '✎';
  color: #626262;
}
.logo {
  background: url(../img/logo.png) no-repeat #fff;
  width: 320px;
  height: 60px;
  text-indent: -9999px;
  cursor: pointer;
  margin: 0 auto;
}


