@charset "UTF-8";
/* line 5, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/styles.scss */
body {
  font-family: Tahoma, Arial, serif;
}

/* line 9, ../sass/styles.scss */
.wrap .header {
  width: 960px;
  padding: 20px;
  margin: 0 auto;
  border-bottom: 1px solid red;
}
/* line 16, ../sass/styles.scss */
.wrap .data {
  text-align: center;
  padding: 20px;
}
/* line 20, ../sass/styles.scss */
.wrap .data form {
  margin: 0 auto;
  width: 500px;
}
/* line 25, ../sass/styles.scss */
.wrap .data input, .wrap .data textarea, .wrap .data button, .wrap .data lable {
  margin: 5px 0;
  outline: none;
  width: 200px;
  padding: 5px;
}
/* line 32, ../sass/styles.scss */
.wrap .data select {
  width: 20px;
}
/* line 36, ../sass/styles.scss */
.wrap .data textarea {
  height: 50px;
  resize: none;
}

/* line 45, ../sass/styles.scss */
.base h2 {
  text-align: center;
  font-size: 40px;
  margin: 20px 0;
}
/* line 51, ../sass/styles.scss */
.base table {
  margin: 0 auto;
  width: 960px;
  text-align: center;
  margin-bottom: 20px;
}
/* line 57, ../sass/styles.scss */
.base table th,
.base table td {
  text-align: center;
  max-width: 100px;
  word-wrap: break-word;
  border: 1px solid #000;
  padding: 5px;
}
/* line 66, ../sass/styles.scss */
.base table th {
  font-weight: bold;
  color: #fff;
  background: #ED1C24;
}

/* line 74, ../sass/styles.scss */
.customer {
  float: left;
  width: 220px;
}

/* line 79, ../sass/styles.scss */
.receiver {
  float: right;
  width: 220px;
}

/* line 84, ../sass/styles.scss */
.base {
  clear: both;
}

/* line 88, ../sass/styles.scss */
#edit,
#remove {
  outline: none;
  background: none;
  font-size: 20px;
  border: none;
}

/* line 96, ../sass/styles.scss */
button#remove::after {
  content: '×';
  color: #C00303;
}

/* line 101, ../sass/styles.scss */
button#edit::after {
  content: '✎';
  color: #626262;
}

/* line 105, ../sass/styles.scss */
.logo {
  background: url(../img/logo.png) no-repeat #fff;
  width: 320px;
  height: 60px;
  text-indent: -9999px;
  cursor: pointer;
  margin: 0 auto;
}
